<div class="container mt-5">
  <p class="h2 text-center">ログイン</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-group pb-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control",placeholder: 'メールアドレスを入力してください' %>
  </div>
  <div class="form-group pb-1">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password",class: 'form-control',placeholder: 'パスワードを入力してください' %>
  </div>
  <div class="form-group">
    <%= f.submit 'ログイン',class: 'btn btn-warning btn-block text-secondary' %>
  </div>
  <% end %>
</div>
