<!DOCTYPE html>
<html>
  <head>
    <title>Todomemos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Roboto+Slab', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
       <%= render partial: 'layouts/header' %>
    <% end %>
    <div class="search-result">
      <div class="search-result-card">
      </div>
    </div>
    <%= yield %>
  </body>
</html>

